.header , .footer {
    height: 100px;
}

.section{
    height: calc(100vh - 200px);
}
.miVideo{
    position: fixed;
    width: 120%;
    height: 120%;
    z-index: 0;
}
.ontainer
{
  position: relative;
  width: 100%;
  height: 100vh;
  
}